body {
  font-family: Arial, Helvetica, sans-serif;            
}

.stats {
  font-size: 0.6em;
  color: silver;
}

.timeline {
  padding: 0 2em;
}

.timeline-item {
  margin-top: 2em;            
}

.timeline-user {
  font-weight: bold;
}

.timeline-time {
  color: silver;
  padding-right: 1em;
}

.timeline-text {
  margin: 1em 2em;
  font-style: italic;
}

.timeline-liked {
  margin-left: 2em;
}

.timeline-liked a {
  padding-left: 0.5em;
}
